@import url('https://fonts.googleapis.com/css?family=Muli');

body {
	box-sizing:border-box ;
	height: 100vh;
	font-family: 'Muli', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #e1e1e1;
	text-align: center;
	
	
}



.key {
	border :1px solid #999;
	background-color: #eee;
	box-shadow: 1px 2px 3px;
	align-items: center;
	display: inline-flex;
	padding: 20px;
	font-size: 20px;
	margin: 10px;
	font-weight: bold;
	flex-direction: column;
	min-width: 150px;
	position: relative;
}

.key small {
	position: absolute;
	top: -24px;
	text-align: center;
	font-size: 14px;
	color: #555;

}